<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Employee Management System</title>
</head>

<body>

<div class="container">
	<br>
	<div class="p-3 mb-2 bg-info text-white">
		<div class="row">
			<h3 class="font-weight-bold ml-3">Employee Management System</h3>
			<a th:href="@{/security/logout}" class="btn btn-info my-sm-0 mr-4 ml-auto font-weight-bold" style="float: right;">
				Logout
			</a>
		</div>
	</div>
	<br>
	<form action="#" th:action="@{/employees/search(keyword=${keyword})}"
						 th:object="${employees}" method="GET"
						 class="form-inline">
		<input type="text" name="keyword" placeholder="Search Employee" class="form-control mr-sm-2 col-4"/>
		<input type="submit" value="Search" class="btn btn-info my-2 my-sm-0 col-2">
		
		<a th:href="@{/employees/showAddForm}" class="btn btn-info my-sm-0 my-2 col-2 ml-auto">
			Add Employee
		</a>
	</form>
	<br>
	<table class="table table-bordered table-striped" >
		<thead class="bg-info text-white text-center">
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Job Title</th>
				<th>Department</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEmployee : ${employees}" style="text-align:center; vertical-align:middle;">
				<td th:text="${tempEmployee.lastName}"/>
				<td th:text="${tempEmployee.firstName}"/>
				<td th:text="${tempEmployee.jobTitle}"/>
				<td th:text="${tempEmployee.department}"/>
				<td th:text="${tempEmployee.email}"/>
				<td>
					<a th:href="@{/employees/showUpdateForm(employeeId=${tempEmployee.id})}" class="btn btn-info btn-sm">Update</a>
					<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}" class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure you want to delete this record?'))) return false">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>

</body>

</html>